.Name{
  text-align: center;
  font-size:48px;
  flex-wrap:wrap;
}
h5{
  text-align:left;
  font-size:16px;
}
h4{
  text-align:left;
  border-bottom: 5px solid black;
  font-size:16px;
}
ul{
  margin-top:0px;
}
.address{
  text-align:center;
  font-size:16px;
  flex-wrap:wrap;
}
education{
  font-size:16px;
}
.alignleft{
  float:left;
}
.alignright{
  float:right;
}
.company{
  float:left;
  display:inline;
  margin:1px;
  margin-top:0px;
  margin-bottom:0px;
}
.location{
  float:right;
  display:inline;
  margin:1px;
  margin-top:0px;
  margin-bottom:0px;
}
.company2{
  float:left;
  display:inline;
  margin:1px;
  margin-top:0px;
  margin-bottom:0px;
}
.location2{
  float:right;
  display:inline;
  margin:1px;
  margin-top:0px;
  margin-bottom:0px;
}
.company3{
  float:left;
  display:inline;
  margin:1px;
  margin-top:0px;
  margin-bottom:0px;
}
.location3{
  float:right;
  display:inline;
  margin:1px;
  margin-top:0px;
  margin-bottom:0px;
}
.company4{
  float:left;
  display:inline;
  margin:1px;
  margin-top:0px;
  margin-bottom:0px;
}
.location4{
  float:right;
  display:inline;
  margin:1px;
  margin-top:0px;
  margin-bottom:0px;
}
.position{
  float:left;
}
.date{
  float:right;
}
.position2{
  float:left;
}
.date2{
  float:right;
}
.position3{
  float:left;
}
.date3{
  float:right;
}
.position4{
  float:left;
}
.date4{
  float:right;
}
main{
  font-size:16px;
}
positiondate{
  display:flex;
  font-size:16px;
}
