.Name{
  text-align: center;
  font-size:48px;
  flex-wrap:wrap;
}
h5{
  text-align:left;
  font-size:32px;
}
h4{
  text-align:left;
  border-bottom: 5px solid black;
  font-size:32px;
}
.address{
  text-align:center;
  font-size:16px;
  flex-wrap:wrap;
}
education{
  font-size:32px;
}
.alignleft{
  float:left;
}
.alignright{
  float:right;
}
main{
  font-size:32px;
}
positiondate{
  display:flex;
  font-size:32px;
}
