@charset "utf-8";
/* Resume */
body {
	background-color: beige;
}
#Abdulahi{
	clear:both;	
}
.links{float:right;
display:inline;
margin-bottom: 10px;}
.links ul {
list-style:none;
}
.links button {
	background-color:transparent;
	color: #4d4d4d;
}
.links h1 {
	text-align: left;
}

.experience {
clear:both;
	text-align: left;
	margin-top: -10px;
	margin-bottom: -10px;
}
* h4, p, ul{
	margin: 4px 1px;
}
* h4{
	float:left;
}
* p{
	float:right;
}
* ul{
	clear: left;
}
.cedars, .barriques, .hennepin, .gandhi, .umn{
	border: outset;
}
