@charset "utf-8";
/* CSS Document */
.links{
display:inline;
margin-bottom: 40px;}
.links ul {
list-style:none;
}
.links button {
	background-color:transparent;
	color: #4d4d4d;
}
body {
	background-color: beige;
}

img {
	display: inline;
	width: 31%;
	float:left;
	margin-left: 10px;
	margin-bottom: 10px; 
}
p, h5{
	clear: both;
	margin: 10px;
}